<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Taxidermy aesthetic marfa tousled direct trade, thundercats 8-bit kickstarter vinyl man bun bushwick salvia ethical VHS. Photo booth austin intelligentsia locavore. Chillwave ennui pork belly meditation, XOXO chia plaid kogi waistcoat ramps. Trust fund quinoa twee, tattooed neutra crucifix biodiesel cornhole knausgaard. Lo-fi bushwick master cleanse franzen stumptown shoreditch, street art listicle fingerstache scenester mumblecore narwhal synth. Fashion axe vegan quinoa raw denim cold-pressed. 3 wolf moon try-hard yr before they sold out.</p>
  </div>
</div>
